body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: url('https://i.pinimg.com/736x/3a/92/b9/3a92b9754c30682c5e563b40d74a257d.jpg no-repeat center center fixed;
    background-size: cover;
    color: #00ffff;
}

h1, h2, h3 {
    margin-bottom: 1rem;
    color: #ff00ff;
    text-shadow: 0 0 10px #ff00ff;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes neonPulse {
    0% { text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff; }
    50% { text-shadow: 0 0 20px #ff00ff, 0 0 30px #ff00ff, 0 0 40px #ff00ff; }
    100% { text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff; }
}

h1, h2 {
    animation: neonPulse 2s infinite;
}

#menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    padding: 10px 0;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    transition: background 0.3s ease;
}

.menu-item:hover {
    background: rgba(255, 255, 255, 0.2); /* Эффект при наведении */
}

.menu-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

.menu-item span {
    font-size: 12px; /* Можно изменить размер текста, если нужно */
    color: white;
}

        #game-container {
            text-align: center;
        }

        #tap-button {
            background: url('https://cdn-icons-png.flaticon.com/128/1275/1275172.png') no-repeat center center;
            background-size: cover;
            width: 200px;
            height: 200px;
            border: none;
            border-radius: 50%;
            opacity: 0.8;
            cursor: pointer;
            transition: transform 0.2s;
        }

        #tap-button:active {
            transform: scale(0.95);
        }

        #tap-count {
            margin-top: 20px;
            font-size: 24px;
            font-weight: bold;
        }
